.homeprincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 15px;
}
.homeprincipal .part_um {
  display: flex;
  height: 35%;
  width: 100%;
  gap: 30px;
}
.homeprincipal .part_um .camp_active {
  width: 60%;
  height: 100%;
  background-color: rgba(37, 41, 69, 0.4196078431);
  border-radius: 20px;
}
.homeprincipal .part_um .aboutequipe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
.homeprincipal .part_um .aboutequipe ul {
  width: 80%;
  height: 100%;
  gap: 15px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeprincipal .part_um .aboutequipe ul li {
  flex: 1;
  background-color: rgba(37, 41, 69, 0.4196078431);
  width: 100%;
  border-radius: 20px;
  border: 1px solid red;
}
.homeprincipal .part_dois {
  display: flex;
  height: 65%;
  width: 100%;
  gap: 30px;
}
.homeprincipal .part_dois .part_dois_left {
  width: 60%;
  height: 100%;
  background-color: rgba(37, 41, 69, 0.4196078431);
  border-radius: 20px;
}
.homeprincipal .part_dois .part_dois_right {
  width: 40%;
  height: 100%;
  background-color: rgba(37, 41, 69, 0.4196078431);
  border-radius: 20px;
}