.homeprincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 15px;
}
.homeprincipal .part_um {
  display: flex;
  height: 35%;
  width: 100%;
  gap: 30px;
}
.homeprincipal .part_um .camp_active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  background-color: rgba(37, 41, 69, 0.4196078431);
  border-radius: 25px;
}
.homeprincipal .part_um .camp_active .content_camp_active {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  width: 50%;
  border: 1px solid red;
}
.homeprincipal .part_um .camp_active .content_camp_active li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.homeprincipal .part_um .camp_active .content_camp_active .topo_content {
  display: flex;
  width: 100%;
}
.homeprincipal .part_um .camp_active .content_camp_active .topo_content span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: #fff;
  color: #0b1124;
  border-radius: 50px;
  padding: 8px 15px 8px 10px;
}
.homeprincipal .part_um .camp_active .content_camp_active .topo_content span img {
  width: 20px;
}
.homeprincipal .part_um .camp_active .content_camp_active .texto_content_middle h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #fff;
  letter-spacing: -2px;
}
.homeprincipal .part_um .camp_active .content_camp_active .texto_content_middle h2 span {
  font-weight: 700;
  color: #ffa500;
  text-transform: uppercase;
}
.homeprincipal .part_um .camp_active .content_camp_active .texto_content_middle p {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  opacity: 0.9;
}
.homeprincipal .part_um .camp_active .content_camp_active .balls_bt .container_balls {
  display: flex;
  align-items: center;
}
.homeprincipal .part_um .camp_active .content_camp_active .balls_bt .container_balls li {
  list-style: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  overflow: hidden;
  margin-left: -15px;
  box-shadow: -3px 0px 15px -5px black;
  transition: transform 0.2s ease;
}
.homeprincipal .part_um .camp_active .content_camp_active .balls_bt .container_balls li:first-child {
  margin-left: 0;
}
.homeprincipal .part_um .camp_active .content_camp_active .balls_bt .container_balls li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homeprincipal .part_um .camp_active .content_camp_active .balls_bt .container_balls li:nth-child(1) {
  z-index: 1;
  background-color: #3700ff;
}
.homeprincipal .part_um .camp_active .content_camp_active .balls_bt .container_balls li:nth-child(2) {
  z-index: 2;
  background-color: #00ff0d;
}
.homeprincipal .part_um .camp_active .content_camp_active .balls_bt .container_balls li:nth-child(3) {
  z-index: 3;
  background-color: #ff0000;
}
.homeprincipal .part_um .aboutequipe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  border-radius: 25px;
}
.homeprincipal .part_um .aboutequipe ul {
  width: 100%;
  height: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.homeprincipal .part_um .aboutequipe ul li {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  background-color: rgba(37, 41, 69, 0.4196078431);
  width: 100%;
  border-radius: 25px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.5s ease, box-shadow 0.3s ease;
}
.homeprincipal .part_um .aboutequipe ul li:hover {
  opacity: 1;
}
.homeprincipal .part_um .aboutequipe ul li .icon_s {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  background-color: #0b1124;
  width: 40px;
  height: 40px;
}
.homeprincipal .part_um .aboutequipe ul li .icon_s img {
  width: 100%;
}
.homeprincipal .part_um .aboutequipe ul li .text_container_aboutequipe {
  margin-left: 25px;
}
.homeprincipal .part_um .aboutequipe ul li .text_container_aboutequipe h4 {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #ffa500;
}
.homeprincipal .part_um .aboutequipe ul li .text_container_aboutequipe p {
  font-family: "Satoshi", sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}
.homeprincipal .part_dois {
  display: flex;
  height: 65%;
  width: 100%;
  gap: 30px;
}
.homeprincipal .part_dois .part_dois_left {
  width: 60%;
  height: 100%;
  background-color: rgba(37, 41, 69, 0.4196078431);
  border-radius: 25px;
}
.homeprincipal .part_dois .part_dois_right {
  width: 40%;
  height: 100%;
  background-color: rgba(37, 41, 69, 0.4196078431);
  border-radius: 25px;
}