* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0b1124;
}

.container_principal {
  width: 100%;
  height: 100vh;
  padding: 30px;
}
.container_principal .scopo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.container_principal .scopo .left_side {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 11px;
  border-radius: 35px;
  height: 100%;
  background-color: rgba(37, 41, 69, 0.4196078431);
}
.container_principal .scopo .left_side img {
  width: 60px;
}
.container_principal .scopo .middle_side {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0px 50px;
  justify-content: center;
  height: 100%;
}
.container_principal .scopo .middle_side .topo_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 25px;
  border: 1px solid red;
  padding: 20px 0px;
}
.container_principal .scopo .middle_side .topo_middle .left_side_middle {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.container_principal .scopo .middle_side .topo_middle .right_side_middle {
  display: flex;
  color: #fff;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}
.container_principal .scopo .right_side {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 12px 15px;
  background-color: rgba(37, 41, 69, 0.4196078431);
  border-radius: 35px;
}
.container_principal .scopo .right_side .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}
.container_principal .scopo .right_side .avatar img {
  width: 53px;
}

.container_conteudos_principais {
  width: 100%;
  height: 100%;
}